<section class="">
<div>
<img class="position-absolute top-50 start-50 translate-middle h-50 d-inline-block ms-5"   src="/images/beer.png" alt="beerimg">
</div>
<div style="width: 12%;" class="d-flex flex-column bd-highlight mb-3  position-absolute bottom-0 start-50 translate-middle-x " >
<a class="btn btn-primary p-2 bd-highlight" href="/beers" role="button">Check the Beers!</a>
<a class="btn btn-primary p-2 bd-highlight mt-3 mb-5" href="/random-beer" role="button">Check a random Beer!</a>
</div>
</section>